<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/leaderboard.css">
</head>
<body>
    <h1>
        <img src="/static/sjcpl_logo_bw.png">
        <span class="title">Leaderboard</span>
    </h1>
    <table>
        <tr>
            <th>Rank</th>
            <th>Team Name</th>
            <th>1</th> <th>2</th> <th>3</th> <th>4</th> <th>5</th> <th>6</th> <th>7</th> <th>8</th> <th>9</th> <th>10</th>
            <th>Total</th>
        </tr>
        {{- range .Teams }}
        <tr class="{{ .Group }}">
            <td class="center">{{ .Rank }}</td>
            <td class="teamname">{{ .Name }}</td>
            {{ range .Scores }}
                <td>{{ if ge . 0 }}{{ . }}{{ end }}</td>
            {{- end }}
            <td class="center">{{ .Total }}</td>
        </tr>
        {{- end }}
    </table>
</body>
</html>
